@import '../variables.module.scss';

.btn {
    color: white;
    border: none;
    padding: 1rem 2rem;
    background-color: $primary-color;
    transition: .4s;
    border-radius: 5px;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}